*{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}:focus{outline:none;}body{line-height:1;}ol,ul{list-style:none;}


/*----------------------------------
	b a s e                       */
	
header, footer {
	display: block;
}
body,
form input,
p, li {
	color: #655f5d;
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
	font-size: 13px;
}
a, a:link {
	color: #b24e2f;
}
a:hover,
#lt:hover {
	color: #d55e3a;
}
strong {
	color: #333;
	font-weight: bold;
}
.r {-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;}
.s {-moz-box-shadow:0 1px 3px #222;-webkit-box-shadow:0 1px 3px #222;box-shadow:0 1px 3px #222;}
.hide {display:none;}

/*----------------------------------
	s t r u c t u r e             */

html, body {
	background-color: #b24e2f;
	text-align: center;
}
body {
	padding-bottom: 20px;
}
header, #shell {
	margin: 0 auto;
	text-align: left;
	width: 980px;
}
#shell {
	background-color: #93432b;
	-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;
	padding: 10px;
	position: relative;
}
.content {
	background: url(../images/bg.gif) left top repeat-y #FFF;
	height: 650px;
	border-left: solid 10px #425875;
}


/*----------------------------------
	h e a d e r                   */
	
header h1 {
	background: url(../images/quickdraw.gif) 15px top no-repeat transparent;
	display: block;
	height: 42px;
	text-indent: -99em;
	margin: 20px 0;
}


/*----------------------------------
	c h a t b o x                 */

.log {
	display: block;
	height: 400px;
	overflow: auto;
}
.log li {
	position: relative;
}
.log li span {
	color: #333;
	display: block;
	padding: 5px 0;
	position: absolute;
	line-height: 16px;
	left: 0;
	width: 100px;
	text-align: right;
}
.log li p {
	line-height: 16px;
	margin-left: 110px;
	padding: 5px 350px 5px 10px;
}
.log .system span {
	color: #b24e2f;
	padding: 11px 0;
}
.log .system p {
	background-color: #f8fada;
	border-bottom: solid 1px #d0d3aa;
	padding: 10px 350px 9px 10px;
}


/*----------------------------------
	p o s t   b o x               */

#post {
	background: url(../images/grid.gif) left top repeat transparent;
	border-top: solid 1px #cdd5e1;
	height: 249px;
	margin-left: 110px;
	position: relative;
}
#post ul {
	float: right;
	margin: 5px 10px 0 0;
}
#post ul li {
	padding: 0 0 10px;
	float: left;
	clear: left;
}
a#clr {
	color: #333;
	text-decoration: none;
	float: right;
	font-size: 11px;
	text-align: right;
	width: 110px;
	margin: 7px 0;
}
a#show {
	margin-top: 40px;
}
#draw,#draw:hover,#draw:focus,#draw:active {
	cursor: crosshair;
}
form {
	background-color: #425875;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 840px;
}
form input {
	
	font-size: 13px;
	color: #b3b3b3;
	border: none;
	outline: none;
	padding: 0px 10px 0;
	height: 30px;
	width: 700px;
	float: left;
}
form input:focus {
	color: #333;
}

a.btn {
	color: #333;
	display: block;
	background-color: #f4f3f2;
	float: right;
	width: 110px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px #333;
	letter-spacing: .04em;
}
a.btn:hover {
	background-color: #e8e8e7;
	color: #000;
}
#lt {
	color: #b24e2f;
}
#show,
#say {
	background-color: #394c65;
	color: #F4F4F4;
}
#show:hover,
#say:hover {
	background-color: #2e445b;
	color: #FFF;
}